.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 32px;
  padding: 0 0 32px 0;

  h2 {
    margin: 0 0 42px;
  }

  .articlePreview:not(:last-child) {
    margin-bottom: 48px;
  }
}

.articlePreview {
}

.header {
  display: flex;
  margin: 0 -16px 72px -16px;
  padding: 32px 16px;
  background-color: #f9f9f9;
  border-radius: 5px;

  h1 {
    margin: 0;
    font-size: 32px;
  }

  span:not(.headerBox) {
    font-size: 24px;
    font-weight: normal;
    color: dimgray;
  }
}

.headerBox {
  display: block;
  margin-top: 32px;
}

.tagsContainer {
  .tag {
    margin-bottom: 6px;
  }

  .tag:not(:last-child) {
    margin-right: 6px;
  }
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  color: black;
  background-color: #e5e3e3;
  cursor: pointer;
}

.tag:hover {
  transform: scale(1.05);
  transition: all 375ms ease 0s;
  background-color: #d1cfcf;
}
