.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 32px;
  padding: 0 0 32px 0;

  h2 {
    margin: 0 0 48px;
  }

  .articlePreview:not(:last-child) {
    margin-bottom: 48px;
  }
}

.header {
  height: 300px;
  background-color: #f5f5f5;
  margin-bottom: 32px;
}

.articlePreview {
  .subtitle {
    margin-left: 8px;
  }

  a {
    font-weight: bold;
    color: black;
  }

  p {
    margin: 18px 0;
    letter-spacing: 0.6px;
  }
}

.title {
  display: inline-block;
  font-size: 20px;
  margin: 0;
}

.title:hover {
  a {
    color: #9932cc;
  }
}

.subtitle {
  font-size: 14px;
  color: dimgray;
}

.arrow {
  margin-left: 4px;
  vertical-align: middle;
  color: #9932cc;
}

.categories {
  .tag:not(:last-child) {
    margin-right: 4px;
  }
}

.tag {
  display: inline-block;
  padding: 2px 4px;
  background: #e5e3e3;
  border-radius: 3px;
  cursor: pointer;
}
