.container {
  background: rgba(255, 255, 255, 0.2);

  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapper {
  width: 1200px;
  padding: 16px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #9932cc;
}

.navigationList {
  display: flex;
  padding: 0 32px;
}

.navigationListItem {
  padding: 0 16px;

  a {
    color: dimgray;
  }
}

.navigationListItem--active {
  a {
    color: black;
  }
}
