.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  padding: 32px 0;
}

.card {
  padding: 16px;
  background: #f5f5f5;
  border-radius: 8px;

  a {
    margin-left: 8px;
  }

  p {
    letter-spacing: 0.6px;
  }
}

.tagsContainer {
  grid-column: 1/-1;

  .tag:not(:last-child) {
    margin-right: 4px;
  }
}

.tag {
  display: inline-block;
  padding: 2px 4px;
  background: #e5e3e3;
  border-radius: 3px;
  cursor: pointer;
}

.tag--active {
  color: #e5e3e3;
  background: #9932cc;
}
