@font-face {
  font-family: 'Fragment Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/FragmentMono-Regular.ttf');
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/Lora-Bold.ttf');
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Lora-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.1px;
}

code {
  font-family: 'Fragment Mono', Menlo, Monaco, monospace;
  letter-spacing: 0.1px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
